*
{
    margin: 0px;
  border:0px;
}
.main-header{
    display:flex;
    justify-content:space-between ;
    background-color:  rgb(161, 21, 119);
    position:relative;
    letter-spacing:2px;

}
 .main-header .logo
{
    height:5%;
    width:5%;
    border-radius:50px;

}
.main-header ul li{
    display:inline;
    margin:10px;
    list-style-type:none;

}  
.main-header ul li a{
    text-decoration: none;
    color:white;
    padding-top: 0px;
    word-spacing:10vh;
}
.main-header ul li a:hover{
    background-color: rgb(9, 2, 2);
    padding: 5px 10px;
    border-radius: 20px;
}


.container h1{
    position: absolute;
    right: 35%;
    font-size:60px;
    font-weight:bolder;
    text-shadow: 2px 2px 4px #000;
    font-family:'pacifico',cursive;
    animation:color 5s;
}
@keyframes color {
    0%{color: orange;}
    10%{color:coral;}
    20%{color:cadetblue;}
    30%{color:purple;}
    40%{color:green;}
    50%{color:yellow;}
    60%{color: red;}
    70%{color:blue;}
    80%{color:blueviolet;}
    90%{color:brown;}
}
.container img{
    height: 100%;
    width: 100%;
}
.container .img1 .box1{
    position: absolute;
    left: 20%;
    height: 60vh;
    width: 90vh;
    border-radius: 2px solid black;
    display: grid;
    grid-template-columns: 1fr 1fr ;

} 
.btn {
    justify-content: center;
    align-items: center;
    display: flex;
    font-family: "poboto",sans-serif;
    font-size: 10px;
    font-weight: bold;
    background-color: blue;
    width: 40px;
    padding: 10px;
    text-decoration: none;
}
.tn:hover, .btn:focus, .btn:active{
    box-shadow: 0 0 2px rgb(0, 0, 0, 0.5);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.containerboot{
    background-color: black;
}
 .footer .containerboot{
    background-color: black;
}

.row{
    display: flex;
    justify-content: space-between;
    padding: 40px 100px;
}
.footer-col ul{
    list-style: none;
}

.footer-col h4{
    color:green;
    margin-bottom: 25px;
    font-size: 22px;
    position: relative;
    font-family: 'Ubuntu', sans-serif;
}

.footer-col h4::before{
    content: '';
    width: 70px;
    height: 2px;
    position: absolute;
    background-color: #e91e64;
    bottom: -10px;
}

.footer-col ul li{
    padding: 10px 0;
}
.footer-col ul li a{
    color:blue;
    text-decoration: none;
    font-size: 16px;
    opacity: 0.7;
    transition: 0.5s;
}
.footer-col ul li a:hover{
    opacity: 1;
}
.footer-col input{
    border: none;
    width: 250px;
    height: 45px;
    display: block;
    padding-left: 20px;
    margin: 14px 0;
}

.footer-col .inputSubmit{
    padding: 0px 20px;
    background-color: #e91e64;
    border: none;
    color: blueviolet;
}
.col p{
    color:brown;
}


@media (max-width: 600px){
    footer .row{
        flex-direction: column;
        padding: 20px 30px;
    }

    footer .footer-col ul{
        margin-left: 20px;
        margin-bottom: 20px;

    }

    footer .footer-col ul{
        margin-left: 20px;
        margin-bottom: 20px;
    }
    .footer-col input{
        width: 100%;
    }
} 
